.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardmainDiv{
  text-align: -webkit-center;
}

body{
  background-color: #e0e0e0;
}
.card-box{
  position: relative;
  width: 50%;
  height: 550px;
  border: none;
  border-radius: 24px !important;
background: #e0e0e0 !important;
box-shadow:  13px 13px 24px #d0d0d0,
           -13px -13px 24px #f0f0f0 !important;
  transition: all 10s ease-in-out !important;
}
@media only screen and (max-width: 999px) {
  .card-box{
      width: 100% ;   
  }
  .card-box:hover .cardButton{
      margin-left: 20px;
  }
}
@media only screen and (max-width: 500px) {
.cardtextdiv{
margin-left: 1rem !important;
}
}
@-webkit-keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}
.cardimages{
  height: 410px;
  width: 100%;
  background: none;
  object-fit: contain;

  -webkit-transform: scale(0.9);
transform: scale(0.9);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
.cardimages:hover{
  -webkit-transform: scale(1.0);
transform: scale(1.0);
}
.cardButton{
  position: absolute;
  z-index: 0;
  margin-top: 20px;
  margin-left:7%;
  border-radius: 10px !important;
  width: 80%;
  background-color: transparent;
  display: none !important;
  color: #ffffff !important;
  transition:  background-color 0.5s ease-in-out !important;
}
.rating{
  margin-top: 10px;
}
.card-box:hover .cardButton{
 background-color: #ff2020;
 display: block !important;
}
.card-box:hover{
  border-radius: 24px !important;
background: #e0e0e0 !important;
box-shadow: inset 13px 13px 24px #d0d0d0,
          inset -13px -13px 24px #f0f0f0 !important;
}
.cardtext{
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;
}
.cardtextdiv{
  margin-left: 7rem;
  margin-top: 0rem;
  display: inline-flex;
}
.heart{
  font-size: 40px;
  position: absolute;
  display: none;
  z-index: 1;
}
.heartTrue{
  color: #ff2020;
  font-size: 40px;
  display: block;
  position: absolute;
  z-index: 1;
}
.card-box:hover .heart {
 display: block;
}
.prices{
  font-size: 20px;
  margin-left: 10px;
  margin-top: -5px;
  color: red;
}